#about {
    max-height: 100vh;
    overflow-y: scroll;
}
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    transform: skewY(5deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin-bottom: 1rem;
        max-width: 600px;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
}

.about-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 3rem 0;
    width: 1000px;
    max-width: 80%;

    h3 {
        font-size: 2rem;
        text-align: center;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    .about-content {
        flex: 1;
        padding: 2rem;
        color: #fff;
    }

    @media screen and (max-width: 550px) {
        h3 {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        .about-content {
            padding: 1rem;
        }
    }

    @media screen and (max-width: 414px) {
        .about-content {
            padding: 1rem 0.1rem;
        }
    }

    img {
        width: 100%;
    }

}

.content-one {
    background-color: var(--user-button-cardborder);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--user-button-shadow);
}

@media screen and (max-width: 850px) {
    .about-inner-container {
        flex-direction: column;
    }
}