:root {
    --orange: #ff8c00;
    --pink: #f54888;
    --purple: #4343f5;
    --yellow: #e0b115;
    --lightBlue: #65ddb7;
    --darkGrey: #1d1d27;
}
.hero_container {
    height:100vh;
    overflow: hidden;

    .fullscreen_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: -1;
    }
    .hero_content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.80) 70%, rgba(0, 0, 0, 0.60) 100%);
        color: #fff;

        .header_text {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
        }

        .header_subtext {
            margin-top: 1rem;
            font-size: 1.5rem;
            text-align: center;
        }

        .explore_btn {
            color: #fff;
            text-decoration: none;
            margin-top: 2rem;
            border: 1px solid #fff;
            border-radius: 2rem;
            padding: 1rem;
            -webkit-backdrop-filter: blur(0.3rem);
            backdrop-filter: blur(0.3rem);
        }

        .explore_btn:hover {
            background: #f21137;
            border: 1px solid #f21137;
            cursor: pointer;
        }
    }
}

.about-container h2,
.tech-container h2,
.projects-container h2,
.contact-container h2 {
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
}