:root {
    --orange: #ff8c00;
    --pink: #f54888;
    --purple: #4343f5;
    --yellow: #e0b115;
    --lightBlue: #65ddb7;
    --darkGrey: #1d1d27;
    --titleFont: "acorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: acorn;
    src: url(/src/css/fonts/acorn/acorn.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

body {
    background-color: var(--purple);
    background-image: linear-gradient(160deg, var(--purple) 0%, var(--lightBlue) 100%);
}

.hero_container {
    height:100vh;
    overflow: hidden;

    .fullscreen_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: -1;
    }
    .hero_content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        .header_text {
            font-family: var(--titleFont);
            font-size: 6rem;
            font-weight: 600;
            text-align: center;
        }

        .header_subtext {
            margin-top: 1rem;
            font-size: 1.5rem;
            text-align: center;
        }

        .explore_btn {
            color: #fff;
            text-decoration: none;
            margin-top: 2rem;
            border: 1px solid #fff;
            border-radius: 2rem;
            padding: 1rem;
            -webkit-backdrop-filter: blur(0.3rem);
            backdrop-filter: blur(0.3rem);
        }

        .explore_btn:hover {
            background: #f21137;
            border: 1px solid #f21137;
            cursor: pointer;
        }
    }
}

.section-container h2 {
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
  font-family: var(--titleFont);
}